/1.7 JavaScript с нуля.rar
/2.13 JavaScript основы.rar
/3.9 JavaScript с нуля Функции.rar
/4.9 JS Массивы и объекты Авторизация.rar
/5.5 JS с нуля Замыкания IIFE Загадка.rar
/6.4 JS Объекты и конструкторы.rar